* {
    margin: 0%;
    padding: 0%;
}

html,
body {
    width: 100%;
    height: 100%;
}

.bgp {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
 }
.bgp::before {
    background-image: url(./pics/waterdrops.jpg);
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.8;
}


img.logo{
    
    height: 235px;
    width: 650px;
    margin-bottom: -65px;
    
    padding-top: 0;
    opacity: 0.85;
}
#logo{
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 235px;
    opacity: 0.9;
}
nav{
    display: inline;
    
}
.nav{
    text-align: center;
}

 

a:link {
    color: rgb(64, 110, 179);
    text-decoration-line: none;
    opacity: 1;
}
a:visited {
    color: rgb(64, 110, 179);
}
.menu-c {
    
    
    
    position: relative;
    padding: 10px;
    padding-bottom: 15px;
    word-spacing: 1em;
    font-size: 25px; 
  
    height: 25px;
    margin-bottom: 15;}
    li{
        display: inline-block;
    }
    a:hover{
     color: rgb(130, 130, 134);
    }
   a{
    font-family: 'Gloria Hallelujah', cursive;
   }
   